  /* Adjust the size of the carousel container */
  #carouselExampleControls {
    max-width: 100%;
    max-height: 400px; /* Set a fixed height for the carousel */
    margin: 0 auto; /* Center the carousel on the page */
    overflow: hidden; /* Hide overflowing content if any */
  }

  /* Add this style to the carousel items to maintain a fixed width and height */
  .carousel-item img {
    width: 100%;
    height: 400px; /* Set the height to match the carousel height */
    object-fit: cover;
  }

  /* Adjust the size of the placeholder box when there are no images */
  .no-image-placeholder {
    height: 400px; /* Set the height of the placeholder box to match the carousel height */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
  }

  /* Styling for the "No image" text */
  .no-image-text {
    font-size: 18px;
    color: #555;
  }
