<% layout('layouts/boilerplate')%>
    <div class="row">
        <h1 class="text-center">New Campground</h1>
        <div class="col-6 offset-3">

            <form action="/campgrounds" method="post" class="validate" novalidate enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Tittle: </label>
                    <input type="text" class="form-control" name="campground[tittle]" id="title" placeholder="Tittle" required>
                    <!-- <div class="valid-feedback">
                        Looks good!
                    </div> -->
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" name="campground[location]" class="form-control" id="location" placeholder="Location"
                        required>
                    <!-- <div class="valid-feedback">
                        Looks good!
                    </div> -->
                </div>
               
                <!-- <input type="file" name="images" id="" multiple> -->
            


                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price">$</span>
                        <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                            aria-describedby="price" name="campground[price]" required>
                        <!-- <div class="valid-feedback">
                            Looks good!
                        </div> -->
                    </div>

                </div>
 <div class="input-group mb-3">
                    <input type="file" class="form-control" id="inputGroupFile02" name="images" multiple accept="image/*">
                  </div>
                

                  <div class="mb-3" >
                    <label for="description" class="form-label ">Description</label>
                    <textarea type="text"  name="campground[description]" class="form-control" id="description" placeholder="description" required></textarea>
                    <!-- <div class="valid-feedback">
                        Looks good!
                    </div> -->
                </div>

                <div class="mb-3">
                    <button class="btn btn-success">Save</button>
                </div>
        
        </div>
       

       
       


       
        </form>

    </div>
    </div>
  
